@font-face {
    font-family: vitality;
    src: url(../assets/fonts/VarsityTeam-Bold.otf);
}


/*
Container y body valido para todos los archivos .php
*/

body{
    background-image: url(../assets/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    margin: auto;
    max-width: 1000px;
    width: 100%;
    border: solid 1px red;
    
 
  
}


/*
partidos.php
*/
.table{
    width: 50%;
    margin: auto;
    font-size: 20px;
    font-family:vitality
    
}




