@font-face {
    font-family: vitality;
    src: url(../assets/fonts/VarsityTeam-Bold.otf);
}
.error{
    color:red;
}
.registro{
    color:blue;
}
.href{
    
    color:black;
}
.container {
    
    text-align: center;
    margin: auto;
    max-width: 1000px;
    width: 100%;
    font-family: vitality;

}

body {

    background-image: url(../assets/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}

form {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
}



label, input {
    display: block;
    margin-bottom: 20px;
    transform: translateX(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    font-family: vitality;
}

input {
    width: calc(100% + 20px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1B7600;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: vitality;
}

button:hover {
    background-color: #219653;
}

